/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General Styles */
body {
    text-align: center ;
}
#board {
    background-color: black;
}

