/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*General Styles */
body {
    text-align: center ;
}
#board {
    background-color: rgb(30, 99, 136);
    border-top: 5px solid rgb(196, 12, 12);
    border-left: 5px solid rgb(196, 12, 12);
    border-right: 5px solid rgb(196, 12, 12);
}

